.card-image-background{
     overflow:hidden;
     height:300px;
     display:flex;
     align-items:center;
     background-size: cover;
     background-repeat: no-repeat;
     

     background-position: center center;
}

.card .controls{
    display:flex;
    margin-top:2em;
    background-color: lightgrey;
    padding:0.5em 0;
}

.card .controls .control{
    flex-basis: 50%; 
    flex-grow: 1;
    height: 100%; 
    text-align: center; 
}

.card .controls .control button.icon{
    background: none;
    border: none;
}

iframe{
    max-width:100%;
}


.list-group-compact li{
    padding-left:0;
    padding-right: 0;
}

.avatar-circle .avatar-img {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.nav-tabs .nav-item {
    margin: 0 0.75rem 0 0;
}

.otto-form-listing .input-group .form-control{
    background:#FFF;
    font-size:1.1em;
}