/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Light'), local('Poppins-Light'),
        url('/public/assets/font/Poppins-Light.woff2') format('woff2'),
        url('/public/assets/font/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('/public/assets/font/Poppins-Regular.woff2') format('woff2'),
        url('/public/assets/font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('/public/assets/font/Poppins-Medium.woff2') format('woff2'),
        url('/public/assets/font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('/public/assets/font/Poppins-SemiBold.woff2') format('woff2'),
        url('/public/assets/font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {

    --primary: #D3121B;
    --secondary: #9E9EA7;
    --secondary-dark: #6D6D73;
    --light: #F5F7FD;
    --dark: #4B4B4D;
    --white: #ffffff;
    --black: #111111;
    --link-color-rgb: 212, 19, 25;
    --primary-rgb: 212, 19, 25;
    --link-hover-color-rgb: 212, 19, 25;
    --shadow: rgba(0, 0, 0, .10);
}




body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.4px;
    color: var(--bs-black);
    background: var(--bs-white);
}

body>header nav li {
    text-align: right;
    /* padding-right: 1rem; removed on desktop view, confirm  */
}

/* header#header img.logo {height: 45px;} */
.navbar-brand img {
    height: 3rem;
}

body>main:not(.home) {
    margin-top: 3rem;
    /* 50px = 3.125em */
}

body>main {
    position: relative;
}

.sib-form {
    padding: 0;
}

dl.signaletique {
    max-width: 21rem;
}

dl.signaletique dt,
dl.signaletique dd {
    width: 50%;
    box-sizing: border-box;
    float: left;
}


dl.signaletique dt {
    font-weight: bold;
    font-weight: bold;
    clear: left;
}

dl:after {
    content: "";
    display: table;
    clear: both;
}

aside form label {
    text-transform: uppercase;
    color: var(--bs-primary);
    font-weight: bold;
}

aside form {
    background: var(--bs-white);
    padding: 0.7em;
}

#home-rdv-annonce article .date-item .otto-date {
    text-transform: uppercase;
}

article.card.event-item .date-item {
    justify-content: flex-end;
}

/* h3.card-title, .card-text {color: var(--bs-white);} */
.card-img-overlay h3,
.card-img-overlay p {
    color: var(--bs-white);
}

aside.filtres {
    background: var(--bs-white);
    padding: 1rem;
}

aside.filtres header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside.filtres header button {
    background: none;
    border: none;
    color: var(--bs-primary);
    text-transform: uppercase;
    font-weight: bold;
    line-height: initial;
}

.filtres label {
    text-transform: uppercase;
    color: var(--bs-primary);
    font-weight: bold;

}

#scroll-to-top {
    opacity: 0.5;
    height: 2rem;
    width: 2rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;

}

#scroll-to-top:hover {
    opacity: 1;
}



.share,
.share.compact {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .share {
        display: flex;
        align-items: center;

    }
}



.share.compact .socials {
    margin-left: 0;
}

.share.tiny,
.share.tiny .actions,
.share.tiny .actions>* {
    display: block;
    margin-top: 1rem;
}

.share i {
    font-size: 1.2rem;
    padding: 0;
}

.share .print {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.share .actions {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.comma:not(:empty):not(:last-child):after {
    content: ", ";
}


.catalog img {
    height: 15rem;
    object-fit: cover;
    border-radius: 0.7rem 0.7rem 0 0;
}



article.card.listing .date-item {
    justify-content: center;
}

.card .card-title {
    color: var(--bs-primary);
    text-transform: uppercase;

}

.card-movie em {
    font-style: normal;
}

.card-movie .meta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    /* background:var(--bs-black); */
}

.card-movie .meta.professional {
    background-color: black;
    color: var(--bs-white);
    font-size: 0.8rem;
    margin-bottom: 0;
    display: inline;

    float: right;
    padding: 3px 6px;
}

.card-movie strong {
    display: block;
    padding: 0;
    margin: 0.5rem 0;
    grid-column: span 2;
    text-align: center;
    font-size: 1.1rem;
    color: var(--black);
}

.card-movie .date {
    color: var(--secondary-dark);
}


.card-complex {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    border-radius: 0.7rem;
}


.card-complex *:first-child,
.card-complex *:last-child {
    grid-column: span 2;
}

.card-complex *:nth-child(2),
.card-complex *:nth-child(3) {
    padding: 0.5rem 1rem 0rem 1rem;
}

.card-complex *:nth-child(3) {
    text-align: right;
}

.card-complex .card-title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.card-complex:not(.slide) img:hover {
    filter: grayscale(99%);
    transition: all 0.5s ease-in-out;
}

.card-professional>:not(img) {
    padding: 0 1rem 0.5rem 1rem;
}

.card-professional img {
    object-fit: cover;
    height: 17rem;
    object-position: center center;

}

@media screen and (min-width: 769px) {
    .card img {
        object-fit: cover;
        height: 250px;
        object-position: center center;
    }

    .card-complex img {
        object-fit: cover;
        height: 250px;
        object-position: center center;
    }
}

#article-single>header {
    background-color: black;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#article-single>header img {
    position: relative;
    height: 100%;
}

#article-single article+hr {
    clear: both;
    visibility: hidden;
}

#article-single article img {
    width: 33%;
    margin: 1rem;
    height: auto;
}

#article-single>header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}


.card-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.card-search .card-description {
    grid-column: span 2;
    text-align: left;
}

.card-search img {
    object-fit: cover;
    object-position: center center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    grid-row: span 2;

}

@media screen and (min-width: 576px) {
    .card-search {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        grid-template-rows: min-content auto;
        align-items: center;
        justify-content: start;
        height: 13rem;
        gap: 2rem;
        padding: 0 1rem 0 0;
    }

    .card-search .card-meta {
        white-space: nowrap;
        color: var(--primary);
    }

    .card-search img {
        object-fit: cover;
        object-position: center center;
        width: 13rem;
        height: 13rem;
        border-radius: 1rem 0rem 0rem 1rem;
        grid-row: span 2;

    }

    .card-search .card-heading {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        text-align: left;
    }

    .card-search .card-description {
        grid-column: span 2;
        height: 100%;
        overflow: hidden;
        margin-bottom: 2rem;
    }
}


.modal-body label,
.modal-body legend {
    font-weight: 500;
}

#modalter_prorg fieldset {
    display: grid;
}

#modalter_prorg fieldset label {
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--bs-primary);
    font-weight: bold;
    margin-top: 1.5rem;
}

fieldset label:has(+[required])::after {
    content: " *";
    color: var(--bs-primary);
}

@media (min-width: 768px) {
    #modalter_prorg fieldset {
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: 4fr 10fr 1fr;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    #modalter_prorg fieldset label {
        text-align: right;
        margin-top: initial;
    }
}


@media (min-width: 1200px) {
    #recherche-professionnels section.search-results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

#professionals.catalog>*:first-child {
    grid-row: span 2;
}

#filmotheque.catalog>*:first-child {
    grid-row: span 2;
}


.filmographie .filmotheque .film-item img {
    height: 211px;
    object-fit: cover;
}

#pro-filmography p {
    line-height: 1;
}

.long-text-container {
    position: relative;
    padding-bottom: 1rem;
}

.long-text-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background: inherit;
    /* Inherit the background to blend in */
    backdrop-filter: blur(5px);
    /* Apply the blur effect */
    pointer-events: none;
    /* Ensure the pseudo-element doesn't interfere with interactions */
}

.long-text-content.folded {
    max-height: 20em;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.long-text-content.expanded {
    max-height: none;
}

.toggle-button {
    display: block;
    margin-top: 1em;
    cursor: pointer;
}

/* Style for the label which will contain the checkbox */
.secret-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the default checkbox */
.secret-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.secret-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #FFF;
    background-image: url('/public/assets/img/incognito.svg');
    background-repeat: no-repeat background-position:center;
    border-radius: 50%;

    /* Border for the box */
}


/* When the checkbox is checked, add a blue background */
.secret-checkbox input:checked~.checkmark {
    background-color: var(--primary);
}


body>footer {
    padding: 1rem;
    background: var(--bs-black);
    color: var(--bs-white);

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 1rem;
}

@media screen and (min-width: 768px) {
    body>footer {
        grid-template-columns: 1fr 1fr;
    }

    body>footer #copyright {
        grid-column: span 2;
    }
}

body>footer .partenaire-item {
    /* border-radius: 1rem; */
    /* background: var(--bs-white); */

    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
}

body>footer .partenaire-item img {
    object-fit: contain;
    border-radius: 1rem;
}

#branding {
    text-align: center;
}

body>footer #branding img {
    max-width: 17rem;
}

body>footer .bi {
    color: var(--bs-white);
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

body>footer #sitemap {
    display: flex;
    gap: 3rem;
}

body>footer #sitemap ul {
    list-style: none;
    padding-left: 0;
}

body>footer #sitemap li a {
    text-transform: uppercase;
    color: var(--bs-white);
    white-space: pre;
}

body>footer #sitemap a:hover {
    color: var(--bs-primary);
}

body>footer #partenaires nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

body>footer #copyright {
    text-align: center;
    font-size: 0.9em;
    padding: 1rem;
}

#modal_job fieldset>legend,
#modal_job fieldset>label {
    color: var(--bs-primary);
    font-size: 1rem;
}

#modal_job fieldset div {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
    #modal_job .checkboxes-fields {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
    }
}


#modal_job fieldset {
    margin-top: 2rem;
}

#equipe-belge {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

#equipe-belge>*:first-child {
    grid-column: 1 / -1;
}

#equipe-belge article a:has(.avatar) {
    display: flex;

    width: 17rem;
    height: 17rem;
    overflow: hidden;
}

#equipe-belge article .avatar {
    width: 100%;
    object-fit: cover;
}

#modal_job .free-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#modal_job .free-fields>* {
    flex-grow: 1;
}

#modal_job label:has(input) {
    display: block;
    color: #000;
}

#modal_job label input {
    margin-right: 0.7rem;
}


/* PRINT */
@media print {

    body>footer,
    .single-post-slider,
    #scroll-to-top,
    #share,
    #print,
    aside#meta {
        display: none !important;
        position: absolute;
        visibility: hidden;
    }

    #article-single header {
        margin-bottom: 2rem;
    }
}

div.embedVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 1em 0;
}

.sib-form-container a {
    color: var(--primary);
    text-decoration: underline;
}

.sib-form .input {
    background: white;
    color: black;
}


#casting-single aside#meta {
    padding: 1.5rem 2rem;
}

#casting-single pre {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}