/* header#header img.logo {height: 45px;} */
.navbar-brand img {
    height: 3rem;
}

main:not(.home) {
    margin-top: 3rem;
    /* 50px = 3.125em */
}

main {
    position: relative;
}

footer#footer {
    margin-top: 4em;
}

.sib-form {
    padding: 0;
}

form label span {
    color: #eb0101;
    font-size: 1.2em;
}


dl.signaletique dl {}

dl.signaletique dt,
dl.signaletique dd {
    width: 50%;
    box-sizing: border-box;
    float: left;
}


dl.signaletique dt {
    font-weight: bold;
    font-weight: bold;
    clear: left;
}

dl.signaletique dd {}

dl:after {
    content: "";
    display: table;
    clear: both;
}

aside form label {
    text-transform: uppercase;
    color: var(--bs-primary);
    font-weight: bold;
}

aside form {
    background: var(--bs-white);
    padding: 0.7em;
}

#home-rdv-annonce article .date-item .otto-date {
    text-transform: uppercase;
}

article.card.event-item .date-item {
    justify-content: flex-end;
}

/* h3.card-title, .card-text {color: var(--bs-white);} */
.card-img-overlay h3,
.card-img-overlay p {
    color: var(--bs-white);
}

/* #sidebar #filtres {background: var(--bs-white);padding: 25px; } */

/* .sidebar {
    margin-bottom: 2rem;
} */

.sidebar.filtres {
    background: var(--bs-white);
}

.sidebar.filtres header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar.filtres header button {
    background: none;
    border: none;
    color: var(--bs-primary);
    text-transform: uppercase;
    font-weight: bold;
    line-height: initial;
}

.filtres label {
    text-transform: uppercase;
    color: var(--bs-primary);
    font-weight: bold;

}