@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
   /*
   --bs-primary: #D3121B !default;
   --bs-secondary: #9E9EA7 !default;
   --bs-secondary-dark: #6D6D73 !default;
   --bs-light: #F5F7FD !default;
   --bs-dark: #4B4B4D !default;
   --bs-white: #ffffff;
   --bs-black: #000000 !default;
   */
   --shadow: rgba(0, 0, 0, .10);
}

html,
body {
   overflow-x: hidden;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 0.4px;
   color: var(--bs-black);
   background: var(--bs-white);
}

.shadow {
   box-shadow: 0 5px 20px var(--shadow) !important;
}

a,
a::before,
a::after {
   transition: all 0.5s ease-in-out;
}

b,
strong {
   font-weight: 600;
}

p {
   line-height: 1.9;
}

h1 {
   font-size: 2.2rem;
   text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 500;
   line-height: 1.5;
}

h2,
h3 {
   padding-bottom: 1.3rem;
}

h1+hr,
h2+hr,
h6+hr {
   color: var(--bs-primary);
   height: 2px;
   opacity: 1;
}

.line-left,
.title-center {
   position: relative;
   margin-bottom: 25px;
}

.line-left::before {
   content: '';
   width: 50px;
   height: 3px;
   background: var(--bs-primary);
   display: inline-block;
   transform: translateY(-10px);
   margin-right: 15px;
}

.line-left.overflow::before {
   position: absolute;
   left: 0;
   left: -70px;
   top: 22.5px;
}

.line-center {
   text-align: center;
}

.line-center::before {
   content: '';
   width: 50px;
   height: 3px;
   background: var(--bs-primary);
   display: block;
   transform: translateY(-10px);
   margin: 0 auto;
}

.text-justify {
   text-align: justify;
   text-justify: inter-word;
}

/* HEADER */
header#header {
   background: var(--bs-black);
}

header#header img#logo {
   height: 45px;
}

header#header nav li.nav-item a {
   text-transform: uppercase;
   font-weight: 500;
   color: var(--bs-white);
   font-size: 0.9rem;
   transition: color 0.5s ease-in-out;
}

header#header nav li.nav-item a.active,
header#header nav li.nav-item a:hover {
   color: var(--bs-primary);
}

/* BANNER - HOME */
#banner {
   color: var(--bs-white);
   margin: 2.5rem 0 5rem;
}

#banner article.card.slide {
   margin: 0 25px;
   background: var(--bs-black);
}

#banner .card-img-overlay {
   padding: 50px 75px;
   top: initial;
   max-width: 50%;
   z-index: 9;
}

#banner img {
   object-fit: cover;
   object-position: center center;
   height: 600px;
}

#banner article::before {
   content: '';
   width: 100%;
   height: 100%;
   background: linear-gradient(0deg, black, transparent);
   display: block;
   position: absolute;
   z-index: 7;
}

#concours-du-moment img {
   object-fit: cover;
   object-position: center center;
   height: 400px;
}

#home-rdv-annonce h3.line-left.overflow.h4 {
   left: 70px;
   display: inline-block;
}

.carrousel {
   background: rgba(0, 0, 0, .5);
   height: 100%;
   z-index: 8 !important;
}

/* CONTENT */
main#content {
   position: relative;
}

main#content:not(.home) {
   margin-top: 50px;
}

.cta {
   font-weight: 500;
   display: inline-block;
   position: relative;
   text-transform: uppercase;
   cursor: pointer;
}

.cta,
.cta::before {
   transition: all 0.5s ease-in-out;
}

.cta::before {
   content: '>';
   display: block;
   position: absolute;
   right: -15px;
}

.cta:hover::before {
   right: -22.5px;
}

span.cta-card {
   font-weight: 500;
   position: relative;
   text-transform: uppercase;
   display: flex;
   justify-content: flex-end;
   margin-right: 15px;
   margin-top: 1rem;
   line-height: 1.9;
}

#call-to-action .cta::after {
   content: '';
   display: block;
   height: 3px;
   width: 50%;
   margin-top: 1em;
   background: var(--bs-primary);
}

#call-to-action .cta:hover::after {
   width: 100%;
}

/* Pagination */
#pagination {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

#pagination #call-to-action.precedent a.cta::before {
   content: '<';
   left: -25px;
   right: initial;
}

#pagination #call-to-action.precedent a.cta:hover::before {
   left: -35px;
}

#pagination .pages-numbers a.page-btn {
   color: var(--bs-black);
   padding: 2.5px 11.5px;
}

#pagination .pages-numbers a.page-btn.active,
#pagination .pages-numbers a.page-btn:hover {
   color: var(--bs-white);
   background: var(--bs-primary);
}

/* BUTTONS */
.btn-simple {
   background: var(--bs-primary);
   color: var(--bs-white);
}

.print {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 0.85rem;
   cursor: pointer;
}


/* CARDS */
article.card,
article.card img {
   border-radius: 0.7rem;
   overflow: hidden;
   transition: 0.5s;
   position: relative;
   margin: 0 0.5em;
}

article.card img {
   border-radius: 0.7rem 0.7rem 0 0;
}

.card .taxo-cat {
   position: absolute;
   top: 15px;
   right: 15px;
}

#organisations article.card img {
   object-fit: contain;
   object-position: center center;
   height: 150px;
}


article.card:not(.slide) img:hover {
   filter: grayscale(99%);
}

article.card .date {
   color: var(--bs-primary);
   text-transform: uppercase;
}

article.card.listing #date {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

article.card.listing #date span {
   width: 100%;
   padding: 0.75em;
   width: 100%;
   font-weight: 600;
}

article.card.listing #date span:first-child {
   font-size: 1.5rem;
   padding: 1em 0;
}

article.card.listing #date span:last-child {
   font-size: 1rem;
   padding: 2.25em 0;
   background: var(--bs-primary);
   color: var(--bs-white);
}

article.card.listing .type,
article.card.listing .categorie {
   color: var(--bs-primary);
   text-transform: uppercase;
}

.card-body h5.card-title {
   color: var(--bs-black);
}

/* CARD PAYSAGE [pour: sidebar, slider, listing --> recent-posts, boutique etc.] */
article.card.paysage p.date,
article.card.paysage a {
   font-size: 0.8rem;
}

article.paysage h5.card-title {
   font-size: 1.2rem;
   line-height: 1.25;
}

article.paysage .card-body {
   padding: 1.4rem;
}

article.paysage img {
   height: 100%;
}

article.paysage p {
   font-size: 1rem;
}

#related-posts article.paysage img {
   height: 250px;
}


/* ========= CARD LIVRE (BOUTIQUE) --> CARD PAYSAGE */
small.frais {
   display: inline-block;
   font-size: 0.7rem;
   line-height: 1.4;
   color: var(--bs-secondary);
}

#commander-boutique button {
   color: var(--bs-primary);
   text-transform: uppercase;
   transition: .5s;
}

#commander-boutique {
   border: 2px solid var(--bs-primary);
   border-radius: 10px;
   overflow: hidden;
}

#commander-boutique.big {
   width: 250px !important;
   min-width: 250px !important;
   max-width: 100% !important;
}

#commander-boutique button,
#commander-boutique span {
   border: none;
   font-weight: bold;
}

#commander-boutique span#prix,
#commander-boutique button:hover {
   background: var(--bs-primary) !important;
   color: var(--bs-white);
}

#commander-boutique span#prix {
   min-width: 50%;
   display: block;
   text-align: center;
}

/*.titre-nouvelle-commande {
   margin-left: 10em;
}$/

/* === AGENDA : CARD */
#listing-agenda .title-agenda {
   display: flex;
   flex-wrap: wrap;
   text-transform: uppercase;
   font-weight: bold;
}

#listing-agenda .card .details {
   display: flex;
   justify-content: space-between;
   margin-right: 20px;
}

#listing-agenda .card .details p {
   margin: 0;
}

.fc-toolbar-title {
   color: #D3121B;
}

.fc .fc-button-primary {
   background-color: #000000;
   border-color: #000000;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:hover {
   background-color: #D3121B;
   border-color: #D3121B;
}

.text-agenda-1 {
   color: #000000;
}

.text-agenda-2 {
   color: #ea9909;
}

.text-agenda-3 {
   color: #a6a6a6;
}

.text-agenda-4 {
   color: #d3339a;
}

.text-agenda-5 {
   color: #4f51cc;
}

.text-agenda-6 {
   color: #d1001d;
}

.text-agenda-7 {
   color: #00712b;
}

.text-agenda-8 {
   color: #3a87ad;
}

/* === FILMOTHEQUE : CARD */
#filmotheque .meta {
   display: flex;
   justify-content: space-between;
}

#filmotheque .meta .categorie {
   text-transform: uppercase;
}

#filmotheque h5 {
   font-size: 1.1rem;
   min-height: 53px;
}

#filmotheque .auteur {
   color: var(--bs-primary);
   font-size: 0.8rem;
   margin-bottom: 0;
   margin-top: 1rem;
}


/* === CONCOURS : CARD */
#concours-item p.date {
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 10px;
}

#concours-du-moment div.slick-track {
   transform: initial !important;
}


/* === PROFESSIONNELS : CARD */
#professionnels h5 {
   color: var(--bs-primary);
   text-transform: uppercase;
}

#professionnel-item .card-body, #filmotheque .card-body, #auteurs .card-body {
   padding: 0;
}

article.card img {
   margin: 0;
}

/* === BOUTIQUE : CARD */
article.boutique p.genre {
   color: var(--bs-primary);
}

article.boutique p.genre,
article.boutique p.date {
   text-transform: uppercase;
   font-size: 0.8rem !important;
   font-weight: 500;
   display: inline-block;
   margin-bottom: 1rem;
}

article.boutique p.author {
   color: var(--bs-primary);
   font-size: 0.85rem;
}

article.boutique p.date {
   color: var(--bs-secondary);
}

article.boutique .commander {
   background: var(--bs-primary);
   color: var(--bs-white);
   padding: 0.4rem 0.8rem;
   border-radius: 10px;
   font-weight: 600;
   display: inline-block;
}

article.boutique .commander:hover {
   background: var(--bs-black);
   color: var(--bs-white);
}

/* ---- MODAL ----- */

.modal-header {
   background-color: #000000;
   border: none;
}

.modal-title {
   color: #ffffff;
}

.modal-body span {
   color: #D3121B;
}

.modal-body span.text-lable {
   color: #000000;
}

.modal-body .text-annonce {
   min-height: 160px;
}

.modal-body label {
   font-weight: 500;
}

/* ---- recherche ----- */

.text-right {
   text-align: right;
}

.recherche-page i {
   font-size: 3rem;
}

/* ---- SIDEBAR ----- */
#sidebar {
   /* margin-bottom: 25px; */
}

#sidebar #filtres {
   background: var(--bs-white);
   padding: 25px;
}

#sidebar #filtres h6 {
   margin-bottom: 0px;
   line-height: initial;
}

#sidebar #filtres header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#sidebar header button {
   background: none;
   border: none;
   color: var(--bs-primary);
   text-transform: uppercase;
   font-weight: bold;
   line-height: initial;
}

/* === SIDEBAR BUTTON : ADD ["Ajouter votre annonce"] */
.add-btn {
   border: solid 1.5px var(--bs-primary);
   text-transform: uppercase;
   font-size: 0.9rem;
   font-weight: 500;
   width: 100%;
   padding: 12px;
   line-height: 15px;
}

.white-btn {
   border: solid 1.5px var(--bs-primary);
   text-transform: uppercase;
   width: 100%;
}

.add-btn i {
   padding-right: 5px;
}

.submit-filters {
   text-transform: uppercase;
   width: 100%;
   font-weight: 500;
}


/* ------ FILTRES ----- */
#filtres-boutique {
   min-width: 50%;
   margin-bottom: 10px;
}

#filtres label,
#filtres-boutique label {
   text-transform: uppercase;
   color: var(--bs-primary);
   font-weight: bold;
   font-size: 0.9rem;
}

/* ========== FILTRE : CASTING */
#casting-filtre .input-group {
   margin-bottom: 0 !important;
}

/* FILTRE CHECKBOX - PAGE CASTING */
#filtres-checkbox .control {
   display: block;
   position: relative;
   padding-left: 30px;
   margin-bottom: 5px;
   padding-top: 2px;
   cursor: pointer;
   font-size: 1rem;
}

#filtres-checkbox .control input {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

#filtres-checkbox .control_indicator {
   position: absolute;
   top: 2px;
   left: 0;
   height: 20px;
   width: 20px;
   background: var(--bs-light);
   border: 0px solid #000000;
   border-radius: 0px;
}

#filtres-checkbox .control:hover input~.control_indicator,
#filtres-checkbox .control input:focus~.control_indicator {
   background: #cccccc;
}

#filtres-checkbox .control input:checked~.control_indicator {
   background: #D3121B;
}

#filtres-checkbox .control:hover input:not([disabled]):checked~.control_indicator,
#filtres-checkbox .control input:checked:focus~.control_indicator {
   background: #0e6647d;
}

#filtres-checkbox .control input:disabled~.control_indicator {
   background: #e6e6e6;
   opacity: 0.6;
   pointer-events: none;
}

#filtres-checkbox .control_indicator:after {
   box-sizing: unset;
   content: '';
   position: absolute;
   display: none;
}

#filtres-checkbox .control input:checked~.control_indicator:after {
   display: block;
}

#filtres-checkbox .control-checkbox .control_indicator:after {
   left: 8px;
   top: 4px;
   width: 3px;
   height: 8px;
   border: solid #ffffff;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
}

#filtres-checkbox .control-checkbox input:disabled~.control_indicator:after {
   border-color: #7b7b7b;
}

/* ------ PAGES ----- */
/* PAGE : ACCUEIL */
#concoursdm .concours img {
   max-height: 380px;
   object-fit: cover;
   border-radius: 0.7rem;
}

/* PAGE : BOUTIQUE-SINGLE */
iframe.iframe-size-single-post {
   width: 100%;
   height: 500px;
}

/* PAGE : "SINGLE" */
span.prefix {
   text-transform: uppercase;
   font-size: 0.8rem;
   font-weight: 500;
   color: var(--bs-primary);
   padding-bottom: 1rem;
   display: inline-block;
}

aside#meta {
   padding: 2rem 3rem;
   /* border-radius: 1rem; */
}

aside#meta ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

aside#meta li {
   line-height: 2.6rem;
   font-size: 0.9rem;
}

aside#meta li.meta-el,
aside#meta li.meta-head {
   display: flex;
   justify-content: space-between;
}

.meta-list li.meta-head a {
   text-transform: uppercase;
   color: var(--bs-primary);
   font-weight: 600;
}

aside#meta i.icon {
   padding-right: 0.5rem;
   color: var(--bs-primary);
}

aside#meta hr {
   color: var(--bs-primary);
   height: 1.5px;
   margin: 1.5rem 0;
}

#share {
   font-size: 0.9rem;
   text-transform: uppercase;
   font-weight: 500;
}

#share a {
   margin: 0 0.25em;
}

#share i {
   font-size: 1.2rem;
   padding: 0;
}

#share .socials {
   margin-left: 0.6rem;
}

.twitter {
   width: 2.5rem;
   padding-bottom: 0.5em;
}

#share .twitter {
   width: 1.5rem;
}

/* PAGE : BOUTIQUE */
/* TABS (BOUTIQUE) */
#boutiqueTabs .nav-item {
   padding: 0 1rem 0.8rem 1rem;
   display: inline-block;
   cursor: pointer;
   font-size: 1rem;
   font-weight: 500;
}

#boutiqueTabs .nav-item a {
   border: none;
   color: var(--bs-secondary);
}

#boutiqueTabs .nav-item a:hover {
   color: var(--bs-primary);
}

#boutiqueTabs .nav-item i {
   padding-right: 0.6rem;
   font-size: 1.4rem;
}

#boutiqueTabs .nav-item:hover {
   color: var(--bs-primary);
}

#boutiqueTabs .nav-item a.active {
   color: var(--bs-primary);
   border-bottom: 3.5px solid var(--bs-primary);
}

/* PAGE : AUTEUR-SINGLE */

#auteur-single h2.line-left::before {
   display: block;
}

#auteur-single p.role {
   color: var(--bs-primary);
   font-weight: 500;
}

#auteur-single p {
   font-weight: 400;
}

#related-posts h3.articles-auteur {
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 600;
}


/* PAGE : CONTACT */
#contact h2 {
   color: var(--bs-primary);
}

#contact h3 {
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 0;
   padding-bottom: 0.4rem;
}

#contact h3 i {
   margin-right: 0.5rem;
}

#contact p {
   line-height: 1.5;
   font-weight: 400;
   color: var(--bs-secondary);
   margin: 0;
}

#contact .contact-wrap {
   border-radius: 1rem 0 0 1rem;
   padding: 3rem;
}

#contact-area {
   background: var(--bs-light);
   margin-top: 150px;
}

#contact-area>#contact {
   transform: translateY(-150px);
   background: var(--bs-white);
}

/* PAGE : PROFESSIONNEL-SINGLE */
#professionnel-single h1 {
   text-transform: none;
   font-size: 2rem;
}

#professionnel-single hr {
   color: var(--bs-primary);
   height: 2px;
}

#professionnel-single p.role {
   color: var(--bs-primary);
}

#professionnel-single div#infos p,
#organisation-single div#infos p,
#auteur-single div#infos p {
   margin-bottom: 7.5px;
}


/* MAP --> PAGE : CONTACT */
.map-wrap {
   height: 100%;
   position: relative;
   border-radius: 0 1rem 1rem 0;
   min-height: 450px;
}

#map {
   width: 100%;
   position: absolute;
   height: 100%;
}


/* ------ FOOTER ----- */
footer#footer {
   position: relative;
   background: var(--bs-black);
   padding: 3rem 0 1.2rem 0;
   font-size: 0.9rem;
   color: var(--bs-white);
}

footer#footer a {
   color: var(--bs-primary);
}

footer#footer a:hover {
   color: var(--bs-white);
}

footer#footer h4 {
   font-size: 1.2rem;
   color: var(--bs-white);
}

footer#footer h5,
footer#footer h6 {
   font-size: 1rem;
}

footer#footer i {
   font-size: 1.5rem;
   color: var(--bs-white);
   margin: 0 7.5px;
}

footer#footer nav.navigation-footer ul {
   list-style: none;
   padding-left: 0;
}

footer#footer nav.navigation-footer ul li {
   margin-bottom: 0.75rem;
}

footer#footer nav.navigation-footer ul a {
   text-transform: uppercase;
   color: var(--bs-white);
   font-weight: 500;
}

footer#footer nav.navigation-footer ul a:hover,
footer #copyright a:hover {
   color: var(--bs-primary);
}

footer#footer #partenaires {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer#footer #partenaires .partenaire-item {
   flex-basis: 23%;
   border-radius: 1rem;
   background: var(--bs-white);
   padding: 0.5rem 1rem;
   text-align: center;
   margin: 0 1% 1rem;
}

footer#footer #partenaires .partenaire-item img {
   max-height: 40px;
   width: auto;
   max-width: 100%;
}

footer #copyright {
   margin-top: 5rem;
   font-size: 0.7rem;
   text-align: center;
}

footer #copyright a {
   color: var(--bs-white);
}

/* Scroll to top ----- */
#scroll-to-top {
   opacity: 0.5;
   height: 30px;
   width: 30px;
   position: fixed;
   bottom: 10px;
   left: 10px;
}

#scroll-to-top:hover {
   opacity: 1;
}



/* SLIDER */
.slick-dots li button:before {
   color: var(--bs-secondary);
   opacity: 1;
   font-size: 10px;
}

.slick-dots li.slick-active button:before,
.slick-prev:before,
.slick-next:before {
   color: var(--bs-primary);
}

.slick-list {
   padding: 25px 0 25px;
}

#single-post-slider.slide.arrow .slick-slide {
   margin: 0 15px;
}

/* Galerie photos */
#single-post-slider img.img-galerie {
   object-fit: cover;
   object-position: center center;
   height: 250px;
}

/* OFFCANVAS */
.offcanvas.show {
   visibility: visible !important;
}

/* RESPONSIVE */
button.navbar-toggler {
   border: none;
   color: var(--bs-white) !important;
   font-size: 2.5rem;
}

button.navbar-toggler:focus {
   box-shadow: none;
   color: var(--bs-primary) !important;
}

#filtre-mobile {
   display: none;
}

@media screen and (min-width: 1921px) {
   .container-custom-banner {
      max-width: 1920px;
      margin: 0 auto !important;
   }
}

@media screen and (min-width: 1700px) {

   header#header .container,
   footer#footer .container {
      max-width: 1600px;
   }

   /*#article-single aside#meta {
      border-radius: 0px !important;
      box-shadow: none !important;
      padding: 0;
   }*/
}

@media screen and (min-width: 769px) {

   #sidebar .card img,
   div#single-post-slider .card img,
   article.paysage img {
      object-fit: cover;
      object-position: center center;
      border-radius: 0.7rem 0 0;
   }

   div#article-item .card h5.card-title {
      min-height: 60px;
   }

   div#article-item .card img,
   div#professionnel-item .card img,
   div#auteur-item .card img,
   div#film-item .card img {
      object-fit: cover;
      height: 250px;
      object-position: center center;
   }
}

@media screen and (max-width: 1024px) {
   header#header nav#navigation ul {
      text-align: right;
      margin: 25px;
      padding: 0 15px;
   }
   header#header nav#navigation li.nav-item {
      /*border-bottom: 1px solid var(--bs-white);*/
   }

   #banner .card-img-overlay {
      max-width: 80%;
   }

   #filtre-mobile {
      display: block;
   }

   #filtres {
      display: none;
   }
}

@media screen and (max-width: 575px) {
   #scroll-to-top {
      opacity: 1;
   }

   aside#searchBAR .w-50 {
      width: 100% !important;
   }

   #banner article.card.slide {
      /* margin: 0; */
      /* border-radius: 0 !important; */
   }

   #banner .card-img-overlay {
      max-width: 100%;
      padding: 25px;
   }
   #banner .card-img-overlay > p {
      font-size: 0.8rem;
   }

   #banner img {
      height: 500px;
   }

   #article-single img {
      height: 200px;
   }

   #related-posts {
      margin: 0 15px;
   }

   #listing-agenda .title-agenda h3 {
      width: 100%;
      text-align: center;
   }

   #listing-agenda .title-agenda p {
      width: 50%;
      margin: 0 !important;
   }

   #listing-agenda .title-agenda p:last-child {
      text-align: right;
   }

   #listing-agenda .card .details {
      flex-direction: column;
   }

   #professionnel-single div#infos,
   #boutique-single div#infos {
      margin-top: 25px;
   }

   div#casting-filtre {
      margin-bottom: 35px;
   }

   #casting-single aside#meta {
      padding: 1.5rem 2rem;
   }

   ul#boutiqueTabs li.nav-item {
      order: 2;
   }

   #boutiqueTabs {
      justify-content: center;
   }

   #filtres-boutique {
      width: 90%;
      margin: 0 auto 35px;
   }

   #boutique article.paysage .card-body {
      padding: 0.5rem;
   }

   #boutique article.paysage h5.card-title {
      font-size: 1rem;
   }

   iframe.iframe-size-single-post {
      height: 200px;
   }

   #pagination {
      justify-content: space-evenly;
   }

   #pagination .pages-numbers {
      width: 100%;
      order: 2;
      margin-top: 25px;
   }

   #pagination .precedent,
   #pagination .suivant {
      order: 1;
   }

   footer#footer section>div {
      margin: 2.5rem 0;
   }
}

/* PRINT */
@media print {

   header#header,
   footer#footer,
   #single-post-slider,
   #scroll-to-top,
   #share,
   #print,
   aside#meta {
      display: none !important;
      position: absolute;
      visibility: hidden;
   }
}